.video-show-card-container {
  min-width: 210px;
  min-height: 250px;
  color: var(--color-main);
  .img-wrapper {
    width: 100%;
    height: 85%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    // 避免图像放大时超出其容器
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
      &:hover {
        // opacity: 0.8;
        transform: scale(1.1);
      }
    }

    .label {
      position: absolute;
      right: 5px;
      top: 3px;
      font-size: 10px;
      padding: 2px;
      border-radius: 3px;
      background-color: var(--color-hover);
    }

    .episodes {
      position: absolute;
      left: 0px;
      bottom: 5px;
      font-size: 10px;
      font-weight: 600;
      padding: 5px;
      border-radius: 5px;
    }

    .score {
      position: absolute;
      right: 0px;
      bottom: 5px;
      font-size: 10px;
      font-weight: 600;
      padding: 5px;
      border-radius: 5px;
      color: var(--color-hover);
    }
  }
  .video-info-wrapper {
    margin-top: 10px;
    .title {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .watch-percent {
      font-size: 10px;
      color: #6c6c6d;
    }
  }
}

// 用于横向向展示的图片
.row {
  width: 256px;
  height: 170px;
}

// 用于竖向展示的图片
.column {
  min-width: 210px;
  min-height: 250px;
}
