.binge-watch-container {
  width: 1200px;
  height: max-content;

  .title-wrapper {
    margin : {
      bottom: 20px;
    }
    .title {
      margin: 0;
      font-size: 1.3em;
      color: var(--color-main);
    }
  }
  .video-show-card-wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;

    div {
      margin-right: 30px;
    }
  }
}
