* {
  box-sizing: border-box;
}

body {
  background-color: #1a1c1f;
}

// 图标（iconfont）
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: #fff;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.side-menus-wrapper {
  width: 180px;
  position: absolute;
  top: 40px;
  z-index: 10;
}
